{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="row center-div">
  <div class="my-3 bottomdiv" >
    {% include 'logo.html' %}
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 center-div">
    <img id="email-img" class="mx-2 image-height img-fluid" src="{% static 'email.png' %}" alt="lgo_end">
    <a class="link-underline link-underline-opacity-0 grey-text"  href="mailto:dollymahour282@gmail.com">hello@probusify.com</a>
  </div>
  <div class="col-lg-2 col-md-12 col-sm-12 center-div" >
    <img id="call-img" class="ms-lg-4 ms-md-3 ms-sm-1 mx-2 image-height img-fluid" src="{% static 'phone.png' %}" alt="lgo_end">
  <a class="link-underline link-underline-opacity-0 grey-text" href="tel:8287213874o">+91 1123298579</a>
  </div>
  <div class="col-lg-1 col-md-12 col-sm-12 center-div">
    <img id="location-img" class="ms-lg-4 mx-2 img-fluid image-height" src="{% static 'location.png' %}" alt="lgo_end" >
    <a class="link-underline link-underline-opacity-0 grey-text" href="https://www.google.com/maps/place/India">{% trans 'footer-country' %}</a>
  </div>
</div>