{% extends "common.html"%}
{% block start%}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

    <!-- <div> -->
        <div class="container-fluid " style="height: 100vh;position: relative;">
          <!--ROW 1 -------------------------------------------------------------------------------------------------------->
            <div class="row">
              <!--  navbar   -->
                {% include 'navbar.html' %}
            </div>
            <!--Row 2------------------------------------------------------------------------------------------------------->
            <!--BANNER-->
            <div class="row" style=" height: 70%;background-color: #FDD8B6;position: relative;border-bottom-right-radius: 200px;border-bottom-left-radius: 200px;display: flex;justify-content: center;">
              <!---ILLUSTRATION---->
            <div class="row d-none d-lg-flex d-md-none" style="position: absolute; height: 100%;align-items: center;" >
              <img class="img-fluid" src="{% static 'illustration_new.png' %}" alt="illustration" style="height:70%;width: 40%;" >
            </div>
            <!--BANNER TEXT-->
            {% include 'banner.html' %}
            <!--Card-->
            {% include 'card.html' %}
            </div>
            <!--Row 3------------------------------------------------------------------------------------------------------->
            <!--TEXT AFTER THE CARD-->
            <div class="container">
            <div class="row d-none d-lg-flex d-md-flex" style=" margin-top: 10%;">
                <div style="justify-content: center; display: flex; align-items: center;">
                  <p class="fs-1" style="font-weight: bold;margin-bottom: 0;">{% trans 'after-card-t1' %}</p>
                </div>
                <div style="justify-content: center; display: flex; align-items: center;">
                  <p style="font-weight: bold; font-size:large;color: grey;">{% trans 'after-card-t2' %}</p>
                </div>
                <!--Carousel-->
                {% include 'carousel.html' %}
            </div>
            <div class="row d-lg-none d-md-none d-sm-flex" style=" margin-top: 50%;">
              <div style="justify-content: center; display: flex; align-items: center;">
                <p class="fs-1" style="font-weight: bold;margin-bottom: 0;text-align: center;">{% trans 'after-card-t1' %}</p>
              </div>
              <div style="justify-content: center; display: flex; align-items: center;">
                <p style="font-weight: bold; font-size:large;color: grey;text-align: center;">{% trans 'after-card-t2' %}</p>
              </div>
              <!--Carousel-->
              {% include 'carousel.html' %}
          </div>
            <div class="my-3" style="display: flex;justify-content: center;align-items: center;">
                {% include 'logo.html' %}
            </div>
            <div class="row" style="margin-bottom: 50px;display: flex;justify-content: center;">
              <div class="col-lg-2 col-md-12 col-sm-12 justify-content-center" style="display: flex;align-items: center;margin-bottom: 20px;">
                <img class="mx-2" src="{% static 'email (1).png' %}" alt="lgo_end" style="height: 20px;width: 20px;">
                <a class="link-underline link-underline-opacity-0 "  href="#" style="color: grey;">hello@probusify.com</a>
              </div>
              <div class="col-lg-2 col-md-12 col-sm-12 justify-content-center" style="display: flex;align-items: center;margin-bottom: 20px;">
                <img class="ms-lg-4 ms-md-3 ms-sm-1 mx-2" src="{% static 'phone.png' %}" alt="lgo_end" style="height: 20px;width: 20px;">
              <a class="link-underline link-underline-opacity-0" href="#" style="color: grey;">+91 8473298579</a>
              </div>
              <div class="col-lg-1 col-md-12 col-sm-12 justify-content-center" style="display: flex;align-items: center;margin-bottom: 20px;">
                <img class="ms-lg-4 mx-2" src="{% static 'location.png' %}" alt="lgo_end" style="height: 20px;width: 20px;">
                <a class="link-underline link-underline-opacity-0 " href="#" style="color: grey;">{% trans 'footer-country' %}</a>
              </div>
            </div>
            {% include 'footer.html' %}
          </div>
        <!--MODAL OF TOGGLE BUTTON visible on large screens theme,languages,privacy,etc-->
        {% include 'toggle.html' %}
        <!--MODAL of signup form-->
        {% include 'signup.html' %}
        <!--MODAL of login form-->
        {% include 'login.html' %}
        <!-- MODAL of download  -->
        {% include 'download.html' %}
        <!-- MODAL of forget password  -->
        {% include 'forget-pass-modal.html' %}
        
        </div>
    {% endblock%}
