{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'Design.css' %}">
<div style="display: flex;justify-content: center;align-items: center;">
<div class="welcome">
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-1.png');background-repeat: no-repeat; background-size: cover;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px ;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h1' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">Helping people and book travel and accomodation for more than 20 years</p>
                    <!-- <p style="font-size: 13px;margin: 0;">accomodation for more than 20 years</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-2.png');background-repeat: no-repeat; background-size: cover;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h2' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">swift and seemless bus ticket booking experience</p>
                    <!-- <p style="font-size: 13px;margin: 0;">booking experience</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-3.png');background-repeat: no-repeat; background-size: cover;;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px ;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h3' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">Unlock best value with premium deal and exclusive discounts</p>
                    <!-- <p style="font-size: 13px;margin: 0;">deal and exclusive discounts</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-1.png');background-repeat: no-repeat; background-size: cover;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h1' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">Helping people and book travel and accomodation for more than 20 years</p>
                    <!-- <p style="font-size: 13px;margin: 0;">accomodation for more than 20 years</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-2.png');background-repeat: no-repeat; background-size: cover;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h2' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">swift and seemless bus ticket booking experience</p>
                    <!-- <p style="font-size: 13px;margin: 0;">booking experience</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
    <div class="item row m-0 p-0 " style="background-image: url('../static/bg-3.png');background-repeat: no-repeat; background-size: cover;;">
        <div class="row h-75 w-100 m-0 p-0 ">
            <div class="col-9 p-0" style="display: flex;justify-content: center;align-items: center;">
                <div style="margin: 0;padding: 10px ;">
                    <h3 style="margin: 0;margin-bottom: 10px;white-space: initial;">{% trans 't-carousel-h3' %}</h3>
                    <p style="font-size: 13px;margin: 0;white-space: initial;">Unlock best value with premium deal and exclusive discounts</p>
                    <!-- <p style="font-size: 13px;margin: 0;">deal and exclusive discounts</p> -->
                </div>
            </div>
            <div class="col p-0 ">
                <img class="img-fluid" src="{% static 'banner_bus.png' %}" alt="bus" style="height: 100%;">
            </div>
        </div>
        <div class=" h-25 w-100 p-0 " style="display: flex;justify-content: center;align-items: center;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
            <p style="margin: 0;font-weight: bold;font-size: 18px;">{% trans 't-carousel-BusOffer' %}</p>
            <img class="img-fluid mx-3" src="{% static 'arrow-right.png' %}" alt="arrow" style="height: 20px;">
        </div>
    </div>
</div>
</div>
