{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true" >
    <div class="modal-dialog custom-modal-download d-flex">
      <div class="modal-content">
        <div class="modal-body" >
           <div class="container">
              <div class="row">
                <div class="col-6">
                  <div>
                    <p>Download App</p>
                    <img class="img-fluid" src="{% static 'as.png' %}" alt="QR" style="height: auto;width: auto;margin-top: 10px;">
                    <img class="img-fluid" src="{% static 'ps.png' %}" alt="QR" style="height: auto;width: auto;margin-top: 30%;">
                  </div>
                </div>
                <div class="col">
                  <div>
                    <p>Scan Code</p>
                    <img class="img-fluid p-2 mt-0" src="{% static 'qr1.png' %}" alt="QR" style="height: 110px;width: auto;">
                  </div>
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>