{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div style="height: 1px;width: 100%; background-color: rgb(225, 214, 214); margin-top: 30px; margin-bottom: 30px;"></div>
            <div class="center-div mb-4">
              <div class="Social-Icon">
                <a class="SocialMedia-Link" href="https://x.com/">
                  <img class="img-fluid h-50 w-50" src="{% static 'twitter.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon" >
                <a class="SocialMedia-Link" href=" https://www.instagram.com/ " >
                  <img class="img-fluid  h-50 w-50" src="{% static 'instagram.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon">
                <a class="SocialMedia-Link" href="https://www.facebook.com/ ">
                  <img class="img-fluid  h-50 w-50" src="{% static 'facebook.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon" >
                <a class="SocialMedia-Link" href="https://www.pinterest.com/ " >
                  <img class="img-fluid h-50 w-50" src="{% static 'pinterest.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon" >
                <a class="SocialMedia-Link" href="https://www.tiktok.com/ " >
                  <img class="img-fluid h-50 w-50" src="{% static 'tik-tok.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon">
                <a class="SocialMedia-Link" href="https://www.google.com/">
                  <img class="img-fluid h-50 w-50" src="{% static 'search.png' %}" alt="lgo_end">
                </a>
              </div>
              <div class="Social-Icon">
                <a class="SocialMedia-Link" href="https://www.whatsapp.com/">
                  <img class="img-fluid h-50 w-50" src="{% static 'whatsapp.png' %}" alt="lgo_end">
                </a>
              </div>
            </div>
            <div class="center-div">
              <div class="w-25 fs-6 mb-3">
                <div id="copyright_footer" class="p-0 fw-bold mb-0 text-center">Copyright © Make it Busify | Designed by make it services-Powered by busify</div>
              </div>
            </div>
            