{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<hr>
            <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 30px;">
              <a href="#"></a><img class="mx-3 p-1" src="{% static 'twitter.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="https://www.instagram.com/"><img class="p-1" src="{% static 'instagram.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="#"></a><img class="mx-3 p-1" src="{% static 'facebook.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="#"></a><img class="p-1" src="{% static 'pinterest.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="#"></a><img class="mx-3 p-1" src="{% static 'tik-tok.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="#"></a><img  class="p-1"src="{% static 'search.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
              <a href="#"></a><img class="mx-3 p-1" src="{% static 'whatsapp.png' %}" alt="lgo_end" style="height: 35px;width: 35px;border-radius: 35px;border: 1px solid rgb(202, 195, 195);"></a>
            </div>
            <div class="row m-0 p-0 ">
              <p class="m-0 p-0 fw-bold" style="display: flex;justify-content: center;text-align: center;">Copyright © Make it Busify</p>
              <p class="m-0 p-0 fw-bold" style="display: flex;justify-content: center;text-align: center;">| Designed by make it services-Powered by busify</p>
            </div>