{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="modal fade" id="FP-Modal" tabindex="1000" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body d-inline justify-content-center"  id="staticBackdropLabel">
            <div class="my-3 center-div">
                <h3 class="black-to-white">Enter mobile number</h3>
            </div>
            <div class="p-2 my-3 center-div w-75" id="forgot-pass-input">
                <input class="w-100" type="password" placeholder="{% trans 'dd-login-number' %}">
            </div>
            <div class="row center-div">
                <button class="p-2 w-50" id="forget-pass-next-button">Next</button>
            </div>
        </div>
      </div>
    </div>
  </div>