{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="nav-item dropdown d-flex  ms-lg-3" name="next_language">
  <!-- <form action="set_language" method="post" > -->
  {% get_current_language as CURRENT_LANGUAGE %}
  {% get_available_languages as AVAILABLE_LANGUAGE %}
  {% get_language_info_list for AVAILABLE_LANGUAGE as languages_in_app %}
    <img src="{% static 'planet-earth.png' %}" alt="download_img" class="img-fluid mt-1 mx-1" style="height: 20px;">
    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans 't-languages' %}</a>
    <ul class="dropdown-menu p-2">
      {% for language in languages_in_app %}
        <li class="d-flex mb-2">
          <!-- <img src="{% static '{{ language.flag }}' %}" class="col-2 p-0 py-1" style="height: auto;"></img> -->
          <a class="dropdown-item" href="/{{ language.code }}/">{{ language.name_local }}</a>
        </li>
        {% endfor %}
    </ul>
  <!-- </form> -->
</div>