{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="nav-item dropdown d-flex  ms-lg-3" name="next_language">
  {% get_current_language as CURRENT_LANGUAGE %}
  {% get_available_languages as AVAILABLE_LANGUAGE %}
  {% get_language_info_list for AVAILABLE_LANGUAGE as languages_in_app %}
    <img id="globe-image" src="{% static 'planet-earth.png' %}" alt="download_img" class="img-fluid mt-1 mx-1 image-height">
    <a class="nav-link active dropdown-toggle d-none d-lg-flex d-md-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <p class="mb-0">{% trans 't-languages' %}</p>
    </a>
    <a class="nav-link active dropdown-toggled d-lg-none d-sm-flex d-md-none " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <p class="ms-2">{% trans 't-languages' %}</p>
    </a>
    <ul class="dropdown-menu p-2"  id="languages-div">
      {% for language in languages_in_app %}
        {% for lang in flag_and_language %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <li class="d-flex mb-2">
          <img src="{% static lang.src %}" class="col-2 p-0 py-1" style="height: auto;"></img>
           {% if language.name_local == "English" %}
          <a class="dropdown-item black-to-white" href="/">{{ lang.name }}</a>
          {% else %}
          <a class="dropdown-item black-to-white" href="/{{ language.code }}/">{{ lang.name }}</a>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
</div>