{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
         <!--MODAL OF LOGIN FORM-->
         <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-body" id="login-modal-body">
                   <div class="container">
                      <div class="row center-div">
                        {% include 'busify-logo-img.html' %}
                      </div>
                      <div class="center-div">
                        {% include 'busify-text.html' %}
                      </div>
                      <div class="center-div">
                        <p class="fw-bold fs-5">Login on Busify</p>
                      </div>
                      <!--CAROUSEL VIEW-->
                      <div>
                           {% include 'lottei.html' %}
                      </div>
                      <!--SIGN UP FORM-->
                      <form method="post" action="/login/">


                        <div class="p-2 input-style-box">
                          <input class="w-100" id="number-login" name="number" type="text" placeholder="{% trans 'dd-login-number' %}">
                         </div>

                         <div class="error-style-box">
                          <div id="numberError-login" class="error"></div><br>
                         </div>
                         
                         <div class="p-2 input-style-box">
                          <input class="w-100" id="password-login" name="password" type="password" placeholder="{% trans 'dd-login-password' %}">
                         </div>

                         <div class="error-style-box">
                          <div id="passwordError-login" class="error"></div><br>
                         </div>
                         


                         <div class="my-3 mb-0 pe-5 d-flex justify-content-end align-items-center w-100 ">
                            <button type="button"  class="btn black-to-white" data-bs-toggle="modal" data-bs-target="#FP-Modal">
                              {% trans 'dd-login-forget' %}
                            </button>
                         </div>
                         <div style="width: 30%;height: 100px;margin-left: auto;margin-right: auto;display: flex;align-items: center;">
                          <button id="login_form_submit_button" class="p-2 h-50 w-100 banner-button">{% trans 't-login' %}</button>
                         </div>
                         <div class="center-div">
                          <p class="mb-0">{% trans 'dd-login-ques' %} </p><button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">{% trans 't-signup' %}</button>
                         </div>
                      </form>
                   </div>
                </div>
              </div>
            </div>
          </div>