{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="display: flex;justify-content: center;">
          <!-- <img src="{% static 'image1.jpg' %}" class="d-block w-50" alt="lotei1"> -->
          <lottie-player src="https://lottie.host/d1bdc022-e4d8-40fe-9904-fbe0265d41a0/druqOOEkd4.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
      </div>
      <div class="carousel-item ">
        <div style="display: flex;justify-content: center;">
          <!-- <img src="{% static 'image2.jpg' %}" class="d-block w-50" alt="lotei1"> -->
          <lottie-player src="https://lottie.host/14273cfb-afce-4097-97ba-e66ec31c8b2b/jkgwm3q4Hl.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
      </div>
      <div class="carousel-item ">
        <div style="display: flex;justify-content: center;">
          <!-- <img src="{% static 'image3.jpg' %}" class="d-block w-50" alt="lotei1"> -->
          <lottie-player src="https://lottie.host/76364efe-08a5-4ff5-b9e8-83a31fb98164/eFKLqh7qa4.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
      </div>
      <div class="carousel-item ">
        <div style="display: flex;justify-content: center;">
          <!-- <img src="{% static 'image4.jpg' %}" class="d-block w-50" alt="lotei1"> -->
          <lottie-player src="https://lottie.host/8b5d35d4-c175-4a85-b15e-2c25c0d39916/E30qlUvuhW.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
      </div>
    </div>
  </div>