{% extends "common.html"%}
{% block start%}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="container-fluid">
 
<!--ROW 2 -------------------------------------------------------------------------------------------------------->
    <div class="row d-flex justify-content-center myprofile_div mb-5 ">
        <div class="w-75 d-flex justify-content-start bg-transparent mt-5">
            <button class="border-0 d-flex justify-content-center px-4 align-items-center mb-5" style="background-color: #a69ae3;height: 40px;width: 150px;border-radius: 15px;">
                <img src="{% static 'white-back-button.png' %}" alt="BackToHome" style="height: 25px;">
                <a href="/" class="text-decoration-none">
                    <p class="White">Go home</p>
                </a>
            </button>
        </div>
        <div class="w-75 mt-5" >
            <h1 id="profile_heading">My Profile</h1>
            <div class=" d-flex" >
                <div class="col-lg-6 my col-md-6 col-sm-12 px-3 m-1 my-3 myprofile_input_box">
                    <input  type="text" value="{{User.Username}}" class="w-100 h-100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 m-1 my-3 myprofile_input_box">
                    <input  type="password"  value="{{User.Password}}" class="w-100 h-100">
                </div>
            </div>
            <div class="d-flex">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 m-1 myprofile_input_box">
                    <input  type="text" value="{{User.Email}}" class="w-100 h-100">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 m-1 myprofile_input_box">
                    <input  type="text" value="+91 {{User.Phone_number}}" class="w-100 h-100">
                </div>
            </div>
            <div class="center-div my-3 w">
                    <button id="myprofile_page_confirm_button">Confirm</button>
            </div>
        </div>
        
        
    </div>
</div>
    {% endblock%}