{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<nav class="navbar navbar-expand-lg fixed-top pt-3" style="background-color: white;height: 12%;">
  <!--CONTAINER of navbar-->
  <div class="container-fluid">
    <!-- <div class="row" style="width: 100vw;"> -->
      <!-------------------FIRST HALF OF NAVBAR-------------------->
    <div class="col-lg-6 col-md-6 col-sm-4 d-flex" >
      <div class="navbar-brand m-0 p-0 ms-lg-5">
      <img class="img-fluid m-0 p-0 " src="{% static 'logo.png' %}" style="height: 50px;width: 50px;">
      <a class="link-offset-2 link-underline link-underline-opacity-0 " href="#" style="color: #975764;font-weight: bold; font-family: cursive;">Busify</a>
      </div>
    </div>
      <!-------------------SECOND HALF OF NAVBAR-------------------->
    <div class="col-lg-6 col-md-6 col-sm-8 d-flex" style="align-items: center;">
      <!--DIV of download and language not visible on small screen-->
      <div class="col-6 d-lg-flex d-md-flex d-none" style="justify-content: end;">
        <!--DOWNLOAD SCANNER-->
            <div class="nav-item d-flex mx-lg-2 mx-md-2">
                <img src="{% static 'download.png' %}" alt="download_img" class="img-fluid mt-1 mx-1" style="height: 20px;">
                <a type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#downloadModal" class="nav-link active" href="#">Download</a>
            </div>
        <!--LANGUAGES -->
           {% include 'global.html' %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 ms-2" style="align-items: center;display: flex;">
        <!--Signup  button -->
        <!--ITEM 1-->
      <div class="col-lg-3 col-md-4 col-sm-4 d-flex mx-1" style="justify-content: end;">
      <div class="nav-item" >
            <button id="navbar_text" type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#signupModal" style="color: #975764;background-color: transparent;width: auto;">Sign up</button>
      </div>
      </div>
      <!--login  button -->
      <!--ITEM 2-->
      <div class="col-lg-3 col-md-4 col-sm-4 d-flex mx-1"  style="justify-content: end;">
      <div class="nav-item">
            <button id="navbar_text" type="button" class="btn p-1 px-3" data-bs-toggle="modal" data-bs-target="#loginModal" style="border-radius: 30px; color: white;background-color: #975764;">log in</button>
      </div>
      </div>
      <!--toggle button of  NAVBAR  NOT  visible on small screen-->
      <!--ITEM 3-->
      <div class="col-lg-3 col-md-4 col-sm-4 d-flex"  style="justify-content: center;">
      <button type="button" class="navbar-toggler-icon btn d-none d-lg-flex d-md-flex" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
      <!--toggle button of OFFCANVAS visible only on small screen-->
      <button class="navbar-toggler-icon btn d-lg-none d-sm-flex d-md-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>
      </div>
       <!--OFF CANVAS-->
        {% include 'offcanvas.html' %}
      </div>
    </div>
  <!-- </div> -->
  </div>
</nav> 