{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body d-lg-none d-sm-flex d-md-none ps-3">
       {% include 'common-toggle.html' %}
      <div class="row m-2 ">
        <img id="download-img-sm" src="{% static 'download.png' %}" class="col-1 p-0" style="height: auto;"></img>
        <div class="col-8">
          {%  include 'download_button.html' %}
        </div>
      </div>
      <div class="ms-1">
        {% include 'global.html' %}
      </div>
      
    </div>
    <!-- {% include 'global.html' %} -->
</div>