{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<select name="places" type="text" class="style-of-card-input black-to-white" id="select_place_option">
      <option value="place" class="w-50">select place</option>
      {% for city in cities %}
          {% for state in states %}
            {% if forloop.parentloop.counter == forloop.counter %}
            <option value="{{forloop.counter}}">{{city}}, {{state}}</option>
            {% endif %}
          {% endfor %}
      {% endfor %}
</select>