{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
        <!--MODAL OF SIGNUP FORM-->
        <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-scrollable ">
              <div class="modal-content">
                <div class="modal-body" >
                   <div class="container">
                      <div class="row">
                        <img class="img-fluid" src="{% static 'icon.png' %}" alt="icon" style="height: 50px;width: 70px;margin-left: auto; margin-right: auto;">
                      </div>
                      <div style="display: flex;justify-content: center;">
                        <h4 style="color: #975764;font-family: cursive;font-weight: bold;">Busify</h4>
                      </div>
                      <div style="display: flex;justify-content: center;">
                        <p style="font-weight: bold;font-size: large;">Signup on Busify</p>
                      </div>
                      <!--CAROUSEL VIEW-->
                      <div>
                          {% include 'lottei.html' %}
                      </div>
                      <!--BUTTON FOR USER/INPUT-->
                      <div class="row my-4" style="width: 75%;margin-left: auto;margin-right: auto;display: flex;">
                        <!-- <div class="col w-100" style="margin-left: auto;margin-right: auto;display: flex">
                          <button id="signup_user_button" style="border: 0;background-color: transparent;margin-left: auto;margin-right: auto;padding: 10px;width: auto;">User</button>
                        </div>
                        <div class="col w-100" style="margin-left: auto;margin-right: auto;display: flex">
                          <button id="signup_user_button" style="border: 0;background-color: transparent;margin-left: auto;margin-right: auto;padding: 10px;width: auto;">Agent</button>
                        </div> -->
                        <ul class="nav nav-underline d-flex" style="justify-content: center;align-items: center;color: #975764;">
                          <li class="nav-item col-6" style="color: #975764;">
                            <a class="nav-link" href="#" style="width: 100%;">User</a>
                          </li>
                          <li class="nav-item col" style="display: flex;justify-content: center;align-items: center;">
                            <a class="nav-link" href="#" style="width: 100%;">Agent</a>
                          </li>
                        </ul>
                      </div>
                      <!--SIGN UP FORM-->
                      <form action="singup">
                        
                         <div class="p-2" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input type="text" placeholder="{% trans 'dd-signup-name' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input type="email" placeholder="{% trans 'dd-signup-email' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input type="text" placeholder="{% trans 'dd-login-number' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 2%;">
                          <input type="password" placeholder="{% trans 'dd-login-password' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input type="text" placeholder="{% trans 'dd-signup-ref-code' %}" style="width: 100%;">
                         </div>
                         <div style="width: 30%;margin-left: auto;margin-right: auto;margin-top: 40px;margin-bottom: 40px;display: flex;justify-content: center;">
                          <button class="p-2" style="color: white; background-color: #975764;border-radius: 50px;border: 0;width: 100%;">{% trans 't-signup' %}</button>
                         </div>
                         <div style="display: flex;justify-content: center;">
                            <p>{% trans 'dd-signup-ques' %}<button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal" style="color: #975764;background-color: transparent;">{% trans 't-login' %}</button> </p>
                         </div>
                      </form>
                   </div>
                </div>
              </div>
            </div>
          </div>