{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
        <!--MODAL OF SIGNUP FORM-->
        <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-scrollable " id="modal-scrollbar">
              <div class="modal-content">
                <div class="modal-body" style="overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;" >
                   <div class="container">
                      <div class="row">
                        <div class="center-div">
                          {% include 'busify-logo-img.html' %}
                        </div>
                      </div>
                      <div style="display: flex;justify-content: center;">
                        {% include 'busify-text.html' %}
                      </div>
                      <div style="display: flex;justify-content: center;">
                        <p style="font-weight: bold;font-size: large;">Signup on Busify</p>
                      </div>
                      <!--CAROUSEL VIEW-->
                      <div>
                          {% include 'lottei.html' %}
                      </div>
                      <!--BUTTON FOR USER/INPUT-->
                      <div class="row my-4" style="width: 75%;margin-left: auto;margin-right: auto;display: flex;">
                        <ul class="nav nav-underline d-flex" style="justify-content: center;align-items: center;color: #975764;">
                          <li class="nav-item col-6" style="color: #975764;">
                            <a class="nav-link" href="#" style="width: 100%;">User</a>
                          </li>
                          <li class="nav-item col" style="display: flex;justify-content: center;align-items: center;">
                            <a class="nav-link" href="#" style="width: 100%;">Agent</a>
                          </li>
                        </ul>
                      </div>
                      <!--SIGN UP FORM-->
                      <form method="post" action="/signup/">
                         <div class="p-2" id="input-div" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input name="username" type="text" placeholder="{% trans 'dd-signup-name' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" id="input-div" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input name="email" type="email" placeholder="{% trans 'dd-signup-email' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" id="input-div" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 20px;">
                          <input name="number" type="text" placeholder="{% trans 'dd-login-number' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" id="input-div" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 2%;">
                          <input name="password" type="password" placeholder="{% trans 'dd-login-password' %}" style="width: 100%;">
                         </div>
                         <div class="p-2" id="input-div" style="border: 1px solid rgb(213, 205, 205);height: 40px;display: flex;align-items: center;border-radius: 10px;width: 75%;margin-left: auto;margin-right: auto;margin-bottom: 10px;">
                          <input name="ref-code" type="text" placeholder="{% trans 'dd-signup-ref-code' %}" style="width: 100%;">
                         </div>
                         <div style="width: 30%;height: 100px;margin-left: auto;margin-right: auto;display: flex;align-items: center;">
                          <button type="submit" class="p-2 h-50 w-100 banner-button">{% trans 't-signup' %}</button>
                         </div>
                         <div style="display: flex;justify-content: center;align-items: center;">
                            <p style="margin-bottom: 0;">{% trans 'dd-signup-ques' %} </p><button  type="button" class="btn main-to-dark" data-bs-toggle="modal" data-bs-target="#loginModal">{% trans 't-login' %}</button>
                         </div>
                         <div>
                          {% include 'messages.html' %}
                         </div>
                      </form>
                   </div>
                </div>
              </div>
            </div>
          </div>