{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>{% block title %} Site {% endblock %}</title>
    <style>
        .navbar-toggler {
            margin-left: 150px;
           &:focus,
            &:active {
            outline: none;
            box-shadow: none;
            border: 0;
           }
        }
        .dropdown-toggle::after {

                content: none;
            }
            #image_text
            {
              position: relative;
              color: white;
              text-align: right;
            }
            .headline
            {
              position: absolute;
              top: 100px;
              right: 80px;
              font-weight: bold ;
              font-size: xx-large;
              justify-content: center;
            }
            .custom-modal {
                    top: 35px;
                    right: 150px;
                    width: 300px;
                    position: absolute;
            }
            
            /* @media only screen and (max-width: 600px) {
                    #text {display: none;}
                  } */
            
    </style>
</head>
<body>
    <!-- <div> -->
        <div class="container-fluid" style="height: 100vh;">
            <div class="row">
                <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #FDD8B6;">
                    <div class="container-fluid">
                      <div class="col-lg-6 col-md-6 col-sm-4 d-flex">
                      <div class="navbar-brand m-0 p-0 ms-lg-5">
                      <img class="img-fluid m-0 p-0 " src="{% static 'logo.png' %}" style="height: 45px;">
                      <a class="link-offset-2 link-underline link-underline-opacity-0 " href="#" style="color: #975764;font-weight: bold; font-family: cursive;">Busify</a>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 d-flex">
                      <div class="d-lg-flex d-md-flex d-none  ms-lg-3 ">
                      <div class="nav-item d-flex mx-lg-2 mx-md-2">
                        <img src="{% static 'download.png' %}" alt="download_img" class="img-fluid mt-1 mx-1" style="height: 20px;">
                        <a class="nav-link active" href="#">Download</a>
                      </div>
                      <div class="nav-item dropdown d-flex  ms-lg-3">
                        <img src="{% static 'planet-earth.png' %}" alt="download_img" class="img-fluid mt-1 mx-1" style="height: 20px;">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Language</a>
                          <ul class="dropdown-menu p-2">
                            <li class="d-flex mb-2">
                                <img src="{% static 'flag.png' %}" class="col-2 p-0 py-1" style="height: auto;"></img>
                                <a class="dropdown-item" href="#">Hindi</a></li>
                            <li class="d-flex mb-2">
                                <img src="{% static 'united-kingdom.png' %}" class="col-2 p-0 py-1" style="height: auto;"></img>
                                <a class="dropdown-item" href="#">English</a></li>
                            <li class="d-flex mb-2">
                                <img src="{% static 'japan.png' %}" class="col-2 p-0 py-1" style="height: auto;"></img>
                                <a class="dropdown-item" href="#">Japnese</a></li>
                            <li class="d-flex mb-2"> 
                                <img src="{% static 'france.png' %}" class="col-2 p-0 py-1" style="height: auto;"></img>
                                <a class="dropdown-item" href="#">French</a></li>
                            <li class="d-flex mb-2">
                                <img src="{% static 'spain.png' %}" class="col-2 p-0 py-1" style="height: auto;"></img>
                                <a class="dropdown-item" href="#">Spanish</a></li>
                          </ul>
                      </div>
                      </div>
                      <div class="nav-item d-flex mx-1 mx-lg-3 mx-sm-3">
                        <a class="nav-link active" href="#" style="color: #975764;">Sign up</a>
                      </div>
                      <div class="nav-item d-flex ">
                        <button class="btn mx-lg-2" style="border-radius: 30px; color: white;background-color: #975764;">log in</button>
                      </div>
                      <button type="button" class="navbar-toggler-icon btn mx-2 my-1 d-none d-lg-flex d-md-flex" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                    </div>
                    <!--OFF CANVAS-->
                    <button class=" navbar-toggler-icon btn d-lg-none d-sm-flex d-md-none ms-0 me-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <!-- <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div> -->
                            <div class="offcanvas-body d-lg-none d-sm-flex d-md-none ps-3">
                                <div class="row m-2">
                                    <img src="{% static 'moon.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                    <div class="col-8">Dark mode</div>
                                    <div class="col-2">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                          </div>
                                    </div>
                                  </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Privacy policy</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Term & Condition</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Contact us</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Cancellation policy</div>
                              </div>
                              <div class="row m-2 ">
                                <img src="{% static 'download.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Download</div>
                              </div>
                              <div class="dropdown row m-2 ">
                                <img src="{% static 'planet-earth.png' %}" class="col-1 p-1" style="height: auto;"></img>
                                <a class=" col-8 nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Language</a>
                                  <ul class="dropdown-menu ps-1 w-50">
                                    <li class="d-flex mb-2">
                                        <img src="{% static 'flag.png' %}" class="col-2 p-0" style="height: auto;"></img>
                                        <a class="dropdown-item" href="#">Hindi</a></li>
                                    <li class="d-flex mb-2">
                                        <img src="{% static 'united-kingdom.png' %}" class="col-2 p-0" style="height: auto;"></img>
                                        <a class="dropdown-item" href="#">English</a></li>
                                    <li class="d-flex mb-2">
                                        <img src="{% static 'japan.png' %}" class="col-2 p-0" style="height: auto;"></img>
                                        <a class="dropdown-item" href="#">Japnese</a></li>
                                    <li class="d-flex mb-2"> 
                                        <img src="{% static 'france.png' %}" class="col-2 p-0" style="height: auto;"></img>
                                        <a class="dropdown-item" href="#">French</a></li>
                                    <li class="d-flex mb-2">
                                        <img src="{% static 'spain.png' %}" class="col-2 p-0" style="height: auto;"></img>
                                        <a class="dropdown-item" href="#">Spanish</a></li>
                                  </ul>
                              </div> 
                            </div>
                            </div>
                        </div>
                          </div> 
                    <!--MODAL BODY-->
                    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                        <div class="modal-dialog custom-modal d-none d-lg-flex d-md-flex">
                          <div class="modal-content">
                            <div class="modal-body">
                                <div class="row m-2">
                                    <img src="{% static 'moon.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                    <div class="col-8">Dark mode</div>
                                    <div class="col-2">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                          </div>
                                    </div>
                                  </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Privacy policy</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Term & Condition</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Contact us</div>
                              </div>
                              <div class="row m-2">
                                <img src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
                                <div class="col-8">Cancellation policy</div>
                              </div>
                              
                        </div>
                      </div>
                    </div> 
                  </nav> 
            </div>
            <div class="row h-50 " style="background-color: #FDD8B6;position: relative;display: flex; align-items: center; justify-content: center;">
                <div style="position: absolute;">
                    <img class="img-fluid" src="{% static 'illustration_new.png' %}" alt="illustration" style="height: 350px;">
                </div>
                <div class="card h-50 "  style="margin-top: 350px;width: 90%;border-radius: 30px;">hello</div>
            </div>
        </div>
    <!-- </div> -->
    
</body>
</html>