{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    
    <div class="modal-dialog custom-modal d-none d-lg-flex d-md-flex" id="modal-scrollbar">
                            <div class="modal-content" style="border-radius: 20px;" >
                              <div class="modal-body">
                                  {% include 'common-toggle.html' %}
                              </div>
                            </div>
    </div> 
  </div>