{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog toggle-modal">
    <div class="modal-content" style="border-radius: 20px;">
      <div class="modal-body">
        <div class="row m-2">
          <img id="moonImage" src="{% static 'moon.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col-8 black-to-white">{% trans 'dd-tb-t-1' %}</div>
          <div class="col-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="theme_change" id="themeSwitch" onclick="setTheme()">
            </div>
          </div>
        </div>
        <div class="row m-2">
          <img id="docImage1" src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">{% trans 'dd-tb-t-2' %}</div>
        </div>
        <div class="row m-2">
          <img id="docImage2" src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">{% trans 'dd-tb-t-3' %}</div>
        </div>
        <div class="row m-2">
          <img id="docImage3" src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">{% trans 'dd-tb-t-4' %}</div>
        </div>
        <div class="row m-2">
          <img id="docImage4" src="{% static 'google-docs.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">{% trans 'dd-tb-t-5' %}</div>
        </div>
         <div class="row m-2 d-lg-none d-sm-flex d-md-none">
          <img id="download-img-sm" src="{% static 'download.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col-8">
         {% include 'download_button.html' %}
      </div>
    </div>
    <div class="row m-2 d-lg-none d-sm-flex d-md-none">
      <img id="earth-img-sm" src="{% static 'planet-earth.png' %}" class="col-1 p-0 m-0" style="height: auto;"></img>
      <div class="col-8">
        {% include 'global.html' %}
      </div>
    </div>
    <div id="tickets" class="row m-2" style="display: none;">
          <img id="tickets-img" src="{% static 'tickets.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">My Ticket</div>
        </div>
        <div id="wallet" class="row m-2"  style="display: none;">
          <img id="wallet-img" src="{% static 'wallet.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">My Wallet</div>
        </div>
        <div id="reffer" class="row m-2"  style="display: none;">
          <img id="reffer-img" src="{% static 'exchange.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col black-to-white">Reffer & Earn</div>
        </div>
        <hr id="hr-logout" class="black-to-white"  style="display: none;">
        <div id="logout" class="row m-2"  style="display: none;">
          <img id="logout-img" src="{% static 'logout-red.png' %}" class="col-1 p-0" style="height: auto;"></img>
          <div class="col text-danger fw-bold">Logout</div>
        </div>
      </div>
    </div>
  </div>
</div>