/* LIGHT THEME COLOR PALATTE */
:root {

  --black-to-white: black;
  --white-to-black: white;
  --lightblue-to-darkblue: #7171B8;
  --white-to-darkblue: #292952;



  --bg-color-white-black: white;
  --text-color-brown-peach: #7171B8;
  --text-color-black-peach: black;
  --text-color-white-black: white;
  --main-brown: #975764;
  --main-brown-dark-bg-color: #975764;
  --banner-bg: #5f5faf;
  --modal-bg: white;
  --text-color-black-brown: black;
  --main-to-dark: #975764;
  --grey: grey;
  --blue-white: #7171B8;
}

/* DARK THEME COLOR PALATTE */
[data-theme="dark"] {

  --black-to-white: white;


  --bg-color-white-black: #292952;
  --text-color-black-peach: white;
  --text-color-brown-peach: #7171B8;
  --text-color-white-black: #292952;
  --main-brown-dark-bg-color: #b8814d;
  --main-brown: #97575F;
  --banner-bg: #5f5faf;
  --modal-bg: #292952;
  --text-color-black-brown: #292952;
  --main-to-dark: #292952;
  --grey: rgb(208, 204, 204);
  --blue-white: white;
}

/* BODY--------------------------------------------------------------------------------------- */
body {
  background-color: var(--bg-color-white-black);
}

.main-to-dark {
  color: var(--main-to-dark);
}

/* MAin container  with relative position --------------------------------------------------------*/
.main-container {
  height: 100vh;
  position: relative;
}

/* first row of the container-------------------------------------------------------------------- */
.row1-of-banner {
  height: 88%;
  margin-top: 6%;
  background-color: var(--bg-color-white-black);
  position: relative;
}

/* INPUT tag background transparent--------------------------------------------------------------- */
input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--black-to-white);
}

/* changing the color of the placeholder with css variable--------------------------------------- */
::placeholder {
  color: var(--text-color-black-peach);
}

/* Div in which all the inputs are-------------------------------------------------------------- */

/* image height for the iamges having 20px height ------------------------------------------------ */
.image-height {
  height: 20px;
}

/* changing the color of date placeholder---------------------------------------------------------- */
input[type=date]:invalid::-webkit-datetime-edit {
  color: var(--text-color-black-peach);
}

/* LOGO---------------------------------------------------------------------------------------- */
#logo {
  color: var(--text-color-brown-peach);
  font-weight: bold;
  font-family: cursive;
  font-size: 25px
}

/* margin top 50px ------------------------------------------------------------------------------ */
.margin-t {
  margin-top: 50px;
}

/* changing the gray color text with the css variable-------------------------------------------- */
.grey-text {
  color: var(--grey);
}

/* BANNER BACKGROUND-------------------------------------------------------------------------- */
#banner-bg {
  position: relative;
  height: 72%;
  background-color: var(--banner-bg);
  /* border-bottom-right-radius: 250px;
   border-bottom-left-radius: 250px; */
  display: flex;
  justify-content: center;
}

/* SOCIAL MEDIA FOOTER------------------------------------------------------------------------- */
.SocialMedia-Link {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  border: 1px solid rgb(202, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

/* NAVBAR ------------------------------------------------------------------------------------ */
#this-is-navbar {
  background-color: var(--bg-color-white-black);
  height: 12%;
}

/* download modal content------------------------------------------------------------------------ */
#download-modal {
  border-radius: 10px;
}

/* body of the login modal---------------------------------------------------------------------- */
#login-modal-body {
  overflow-y: auto;
}

/* chnaging the color pf all the modal body with the changing of the theme---------------------- */
.modal-body {
  background-color: var(--modal-bg);
  border-radius: 20px;
  border: 1px solid #536872;
}

/* corner radius to outer modal content-------------------------------------------------------------- */
.modal-content {
  border-radius: 20px;
  border: 0;
}

/* -Banner.html----------------------------------------------------------------------------------------- */

#banner-div {
  position: absolute;
  height: 100%;
  display: flex;
  /* margin-top: auto; 
   margin-bottom: auto; */
  align-items: center;
  justify-content: center;
}

/* CLASS FOR CENTERIGN THE DIV ELEMENTS ----------------------------------------------------------------- */
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BANNER ----------------------------------------------------------------------------------------------------- */
#banner-text-div {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  height: 90%;
  width: 90%;
}

#banner-text1 {
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 35px;
}

#banner-text2 {
  text-align: center;
  color: black;
  font-weight: bold;
}

.banner-button {
  text-align: center;
  background-color: #7171B8;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: transparent;
  /* opacity: 0.2; */
}

#banner-text1-lg {
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 55px;
}

#banner-text2-lg {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */

}

/* illustration size------------------------------------------------------------------------------------------ */
#illustration {
  height: 90%;
  width: 43%;
}

.illustration-size {
  position: absolute;
  height: 90%;
  align-items: center;
  display: flex;
}

.bottomdiv {
  display: flex;
  justify-content: center;
}

/* P tag color ------------------------------------------------------------------------------------- */
p {
  color: var(--text-color-black-peach);
  padding: 0;
  margin: 0;
}

.sign-up {
  color: var(--text-color-brown-peach);
  background-color: transparent;
  width: auto;
}

.login-button {
  border-radius: 30px;
  color: white;
  background-color: var(--text-color-brown-peach);
}

/* CARD--------------------------------------------------------------------------------------------- */
.destiny_card {
  /* background-color: green; */
  /* height: 20%; */
  position: relative;
  width: 90%;
  border: 0.5px solid #536872;
  border-radius: 30px;
  /* box-shadow: 0px 0px 30px 0px rgb(186, 179, 179); */
  background-color: var(--bg-color-white-black);
}

/* about the input in the card -------------------------------- */
.style-of-card-input {
  width: 80%;
  background-color: transparent;
  border: 0;
  /* border-bottom: 2px;
  border-color:  var(--blue-white);
  border-style: solid; */
  outline: none;

}

p {
  margin-bottom: 0;
}

.input-style-box {
  border: 1px solid rgb(213, 205, 205);
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 20px; */
  background-color: var(--bg-color-white-black);
}



.navbar-toggler {
  margin-left: 150px;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: 0;
  }
}

.dropdown-toggle::after {

  content: none;
}

#image_text {
  position: relative;
  color: white;
  text-align: right;
}

.headline {
  position: absolute;
  top: 100px;
  right: 80px;
  font-weight: bold;
  font-size: xx-large;
  justify-content: center;
}

.toggle-modal {
  top: 50px;
  right: 80px;
  width: 300px;
  position: absolute;
}

@media only screen and (max-width: 540px) {


  .destiny_card {
    margin-top: 100%;
  }

  .Search_Bus_Card_div {
    margin-top: -250px;
  }

  .toggle-modal {
    max-width: 90%;
  }

  .navbar_text {
    font-size: small;
  }

  .toggle-modal-download {
    top: 100px;
    right: 7%;
    width: 300px;
    position: absolute;
  }

  .border_left_of_card {
    border: none;
  }

  #search_button_div {
    width: 100%;
  }

  .myprofile_div {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 540px) {
  .destiny_card {
    margin-top: 75%;
  }

  .toggle-modal {
    max-width: 90%;
  }

  .Search_Bus_Card_div {
    margin-top: -270px;
  }

  .toggle-modal-download {
    top: 50px;
    right: 200px;
    width: 300px;
    position: absolute;
  }

  .border_left_of_card {
    border: none;
  }

  #search_button_div {
    width: 100%;
  }

  .myprofile_div {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .destiny_card {
    margin-top: 65%;
  }

  .toggle-modal {
    max-width: 90%;
  }

  .Search_Bus_Card_div {
    margin-top: -300px;
  }

  .toggle-modal-download {
    top: 50px;
    right: 400px;
    width: 300px;
    position: absolute;
  }

  .border_left_of_card {
    border: none;
  }

  #search_button_div {
    width: 100%;
  }

  .myprofile_div {
    margin-top: 18%;
  }
}

@media only screen and (min-width: 1024px) {
  .destiny_card {
    margin-top: 45%;
  }

  .Search_Bus_Card_div {
    margin-top: -320px;
  }

  .toggle-modal {
    max-width: 90%;
  }

  .toggle-modal-download {
    top: 50px;
    right: 400px;
    width: 300px;
    position: absolute;
  }

  .border_left_of_card {
    border: none;
  }

  #search_button_div {
    width: 15%;
  }

  .myprofile_div {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 1536px) {
  .destiny_card {
    margin-top: 30%;
  }

  .Search_Bus_Card_div {
    margin-top: -320px;
  }

  .toggle-modal {
    max-width: 90%;
  }

  .toggle-modal-download {
    top: 50px;
    right: 400px;
    width: 300px;
    position: absolute;
  }

  .border_left_of_card {
    border-left: 2px solid #7171B8;
  }

  #search_button_div {
    width: 15%;
  }

  .myprofile_div {
    margin-top: 10%;
  }
}

.toggle-modal .modal-dialog-scrollable {
  max-width: 60%;
}

.welcome {
  width: 90%;
  height: 400px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 20px;
  padding: 10px;
  scroll-behavior: smooth;
  align-items: center;
}

.welcome::-webkit-scrollbar {
  display: none;
}

div.item {
  min-width: 370px;
  height: 200px;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 30px;
}

#signup_user_button:focus {
  border-bottom: 3px solid #000;
}

.Social-Icon:hover {
  transform: scale(1.3);
}

.nav-underline .nav-link {
  color: #292952 !important;
  display: flex;
  justify-content: center !important;
}

#signup_model_body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.height_50px {
  height: 50px;
}



#border_bottom_of_card {
  border-bottom: 2px solid #7171B8;
  width: 100%;
}

#forget-pass-next-button {
  background-color: #7171B8;
  color: white;
  border-radius: 20px;
  width: 20%;
  border: 0;
}

#forgot-pass-input {
  border: 1px solid rgb(213, 205, 205);
  height: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 2%; */
}

#offcanvasRight {
  background-color: var(--modal-bg);
}

#languages-div {
  background-color: var(--modal-bg);
}


.error-style-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.error {
  color: red;
  font-size: 0.9em;

}

/* #signup_form_submit_button{
  opacity: 0.3;
}
#login_form_submit_button{
  opacity: 0.3;
} */

.black-to-white {
  color: var(--black-to-white);
}

.select_place_option {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 2px solid #7171B8;
  background-color: var(--modal-bg);
}

#copyright_footer {
  color: rgb(177, 168, 168);
}

/* #arrival_time_plus:focus{
  height: 500px;
} */
#arrival_time_div {
  transition: 2s;
}

/* input[type="date"]::-webkit-calendar-picker-indicator{
  color-scheme: dark;
} */
/* input[type="date"] {
  accent-color: red;
} */
.search_box_sorting {
  height: 9%;
  background-color: #7171B8;
  border-radius: 10px;
  /* transition:height 2s; */
}

.card_of_bus_details {
  background-color: #7171B8;
  border-radius: 20px;
  height: 230px;
}

.profile_div {
  border-radius: 50%;
  background-color: white;

}

/* div.search_box_sorting:hover{
  height: 200px;

 } */
.myprofile_input_box {
  height: 50px;
  border: 2px solid rgb(118, 117, 117);
  border-radius: 10px;

}

#myprofile_page_confirm_button {
  background-color: #7171B8;
  color: white;
  border-radius: 10px;
  width: 200px;
  outline: none;
  border: none;
  height: 40px;
}

#profile_heading {
  color: var(--text-color-black-peach);
}

/* input{
  color: var(--black-to-white);
} */